* {
  box-sizing: border-box;
}

body {
  height: 2000px;
  text-align: center;
  background: grey;
}

.app__header {
  position: fixed;
  margin-top: 24px;
}

.drop-example {
  //width: 350px;
  //height: 350px;
  margin-top: 500px;
  background: #fff;
  //overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.drop-scroll-content {
  //width: 2000px;
  //height: 2000px;
  //padding: 1000px;
}


// Tether Styles
.tether-element {
  position: absolute;
}