{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "defaults, ie 10"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from"
  ]
}
